section.first.content-wrapper
  h1.heading.first__heading Let us make<br>your lives easier
  p.quote We specialize in crafting awesome ideas for web, mobile and beyond.
  a.button.button_down(href="#work") down