.header
  position: fixed
  width: 100%
  box-sizing: border-box
  height: 102px
  background-color: #fff
  display: flex
  align-items: center
  justify-content: space-between
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1)
  @media (max-width: 568px)
    height: 60px
  
  @media (min-width: 568px)
    &_scrolled
      height: 60px
      opacity: 0.8
      transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1)
      &:hover
        opacity: 1